doctype html
html(lang="en")
  head
    title David Lopez Programmer
    link(rel="stylesheet", href="/style.css")
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
  body
    section.masthead
      h1 
        a(href="/") David Lopez
    .content
      block content