doctype html
html(lang="en")
  head
    if pageTitle
      title #{pageTitle} \ David Lopez
    else
      title David Lopez
    link(rel="stylesheet", href="/style.css")
    link( href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap", rel="stylesheet")
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
  body
    section.masthead
      h1 
        a(href="/") David Lopez
    .content
      block content