doctype html
html(lang="en")
  head
    if pageTitle
      title #{pageTitle} \ David Lopez
    else
      title David Lopez
    link(rel="stylesheet", href="/style.css")
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
  body
    header.masthead
      h1
        a(href="/") David Lopez
    .content
      block content